.logos__slides {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
    margin: 5rem 0rem;
}

.logos__slide {
    white-space: nowrap;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.logos__text {
    color: var(--primary-color);
    padding: 1rem 2rem;
    font-size: 2rem;
    margin: 2rem;
}

.Marque__title {
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    margin: 4rem 0;
    font-weight: 700;
}