.gallery {
    width: 100%;
    height: 100%;
    padding: 5rem 0rem;
}

.gallery__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery__title {
    font-size: 8rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

.gallery__images {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
}

.gallery__image {
    padding: 1rem;
    transition: 0.4s ease;
    cursor: pointer;
}

.gallery__image:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 750px) {
    .gallery {
        width: 100%;

        padding: 0rem 2rem;
    }


}